:root {
	--font-basic: "LXGW WenKai", "InterVariable", "PingFang SC", "Microsoft YaHei", system-ui, sans-serif;
	--font-serif: "LXGW WenKai", serif;
	--font-creative: "LXGW WenKai", "Maple Mono NF", "Maple Mono", "InterVariable", "PingFang SC", system-ui, sans-serif;
	--font-stroke-free: "LXGW WenKai", "Inter", "Lantinghei SC", "Microsoft YaHei", "PingFang SC", system-ui, sans-serif;
	--font-monospace: "JetBrains Mono", "Maple Mono NF", "Maple Mono", "Cascadia Code", "Consolas", "Monaco", monospace;

	@media (max-resolution: 1.2dppx) {
		--font-basic: "LXGW WenKai", "InterVariable", "PingFang SC", "Microsoft YaHei", system-ui, sans-serif;
	}
}
